@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Загрузка файла</h1>

<h2>title</h2>
<div class="row mt-5 mb-2">
    <h4>File in Model</h4>
    <form asp-conroller="Home" asp-action="UploadMaterial"
          enctype="multipart/form-data" method="post">
        <label >Name of material</label>
        <input type="text" name = "FormForMaterials.Name" />
        
        <label >Category</label>
        <input type="number" name = "FormForMaterials.CategoryName" />
        
        <input type="file" multiple name="FormForMaterials.File"/>
        <button type="submit">Submit</button>
    </form>
          
</div>
